{% extends 'base.html' %}
{% block title %}Customer Contact Add{% endblock title %}

{% block sidebar %}
    {% include 'sidebar/customer.html' %}
{% endblock sidebar %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col-6" style="border-right: 1px solid #E0E0E0;">
            <label class="mr-2" for="{{customer_contact_form.customer.id_for_label}}">Khách hàng:</label>
            {{customer_contact_form.customer}}
        </div>
        <div class="col-6">
            <label class="mr-3" for="{{customer_contact_form.address.id_for_label}}">Địa chỉ:</label>
            {{customer_contact_form.address}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6" style="border-right: 1px solid #E0E0E0;">
            <label class="mr-2" for="{{customer_contact_form.phone.id_for_label}}">Số điện thoại:</label>
            {{customer_contact_form.phone}}
        </div>
        <div class="col-6">
            <label class="mr-3" for="{{customer_contact_form.label.id_for_label}}">Nhãn:</label>
            {{customer_contact_form.label}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6" style="border-right: 1px solid #E0E0E0;">
            <input type="submit" value="Tạo" class="btn btn-success">
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
<!-- {{customer_contact_form.as_p}} -->
</form>
{% endblock content %}