{% extends 'base.html' %}
{% block title %}product List{% endblock title %}

{% block sidebar %}
    {% include 'sidebar/product.html' %}
{% endblock sidebar %}

{% block content %}
<table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for component in components %}
        <tr>
          <th scope="row">{{component.id}}</th>
          <td><a href="{% url 'component_detail' component.id %}">{{component.name}}</a></td>
          <td>{{component.type}}</td>
          <td>
            <a href="{% url 'component_detail' component.id %}" class="btn btn-sm btn-info">Chi tiết</a>
            <a href="{% url 'component_edit' component.id %}" class="btn btn-sm btn-warning">Sửa</a>
            <a class="btn btn-sm btn-danger" onclick="confirm('delete?')?window.location.href='{% url 'component_delete' component.id %}':''">Delete</a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}