{% extends 'base.html' %}
{% block title %}Customer Add{% endblock title %}

{% block sidebar %}
    {% include 'sidebar/product.html' %}
{% endblock sidebar %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col-6" style="border-right: 1px solid #E0E0E0;">
            <label class="mr-3" for="{{product_form.name.id_for_label}}">Tên sản phẩm:</label>
            {{product_form.name}}
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6" style="border-right: 1px solid #E0E0E0;">
            <label class="mr-2" for="{{product_form.type.id_for_label}}">Loại sản phẩm:</label>
            {{product_form.type}}
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6" style="border-right: 1px solid #E0E0E0;">
            <label class="mr-2" for="{{product_form.type.id_for_label}}">Vat lieu</label>
            {{product_form.component}}
        </div>
        <div class="col-6">
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-6" style="border-right: 1px solid #E0E0E0;">
            <input type="submit" value="Tạo" class="btn btn-success">
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
<!-- {{product_form.as_p}} -->
</form>
{% endblock content %}