{% extends 'base.html' %}
{% block title %} MF detail {% endblock title %}

{% block sidebar %}
    {% include 'sidebar/product.html' %}
{% endblock sidebar %}

{% block content %}

{% for component in product.component.all %}
    <div class="row mt-5">
        <div class="col-1">{{component.type}}:</div>
        <div class="col-1">{{component.name}}</div>
        <div class="col-1">5</div>
        <div class="col-1">5</div>
        <div class="col-5">{{component.supplier}} <a href="" class="btn btn-secondary btn-sm ml-3 my-1 ">Đặt hàng</a></div>
    </div>
    <hr>
{% endfor %}

{% endblock content %}