<div class="side-nav">
	<ul>
		<li>
			<a href=""><span><i class="fa fa-arrows mr-1" aria-hidden="true"></i>Dự án sản xuất</span></a>
			<a class="ml-2" href="{% url 'mrp_add' %}">Thêm mới</a>
			<a class="ml-2" href="{% url 'mrp_list' %}">Danh sách</a>
			<a class="ml-3" href="{% url 'mrp_open_list' %}">- Các dự án đang mở</a>
			<a class="ml-3" href="{% url 'mrp_closed_list' %}">- Các dự án đã đóng</a>
			<hr/>
		</li>
		<li>
			<a href="#"><span><i class="fa fa-arrows mr-1" aria-hidden="true"></i>Theo dõi nhiệm vụ</span></a>
			<a class="ml-2" href="">Thêm mới</a>
			<a class="ml-2" href="">Danh sách</a>
			<hr/>
		</li>
	</ul>
</div>