<div class="side-nav">
    <ul>
        <li>
            <a href="{% url 'product' %}"><span><i class="fa fa-arrows mr-1" aria-hidden="true"></i>Sản phẩm</span></a>
            <a class="ml-2" href="{% url 'product_add' %}">Thêm mới</a>
            <a class="ml-2" href="{% url 'product_list' %}">Danh sách</a>
            <hr>
        </li>
        <li>
            <a href="{% url 'mf' %}"><span><i class="fa fa-arrows mr-1" aria-hidden="true"></i>Công thức vật liệu</span></a>
            <a class="ml-2" href="#">Thêm mới</a>
            <hr>
        </li>
        <li>
            <a href="#">
                <span>
                    <i class="fa fa-arrows mr-1" aria-hidden="true"></i>
                    Hàng tồn kho
                </span>
            </a>
            <a class="ml-2" href="#">
                Thêm mới
            </a>
            <hr>
        </li>
    </ul>
</div>